# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Environment Variables
# ==============================

.env

# ==============================
# Raw Data
# ==============================

data/raw/

# ==============================
# Large Data Formats
# ==============================

*.h5
*.hdf5
*.npy
*.npz
*.nc
*.netcdf

# ==============================
# IDE
# ==============================

.vscode/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db